{% extends "app/base.html" %}

{% block title %} Graph {% endblock %}

{% block content %}
<div>
    <h1>Temperature Chart</h1>
</div>

<div class="canvas-container">
    <canvas id="myCharttemperature"></canvas>  
</div>

<div>
    <h1>Humidity Chart</h1>
</div>

<div class="canvas-container">
    <canvas id="myCharthumidity"></canvas>  
</div>

<!-- chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    const dateLabels = {{ data_time|safe }};
    const temperatureValues = {{ temperature_data|safe}};
    const humidityValues = {{humidity_data|safe}};

    const ctx = document.getElementById('myCharttemperature').getContext('2d');
    const myCharttemperature = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dateLabels,
            datasets: [{
                label: 'Temperature',
                data: temperatureValues,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    const ctxh = document.getElementById('myCharthumidity').getContext('2d');
    const myCharthumidity = new Chart(ctxh, {
        type: 'line',
        data: {
            labels: dateLabels,
            datasets: [{
                label: 'Humidity',
                data: humidityValues,
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}
