h1 {
    text-align: center;
    font-family: Playpen Sans;
}

h2 {
    font-family: Raleway;
}
body {
    background-color: aliceblue;
    margin: auto;
}

.canvas-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Відступ між графіками */
}
canvas {
    max-width: 80%; /* Налаштувати ширину графіка */
}

.container {
    padding-top: 30px;
}